langchain
langchain-community
langchain-groq
python-dotenv
ipykernel
jupyter
pandas
numpy
pypdf
bs4         
langchain-text-splitters
sentence-transformers
langchain_huggingface
streamlit 
fastapi
duckdb
duckduckgo-search
pymupdf
arxiv
wikipedia
